# Performance data cleaning

This is the data cleaning for the performance files

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
uwe_performance_df_raw = pd.read_csv("Raw_data/UWE/Pivigo_UWE_Performance.csv", header=9)
tees_performance_df_raw = pd.read_csv("Raw_data/Teesside/Pivigo_Tees_Performance.csv", header=9)
uwe_performance_df = uwe_performance_df_raw.copy()
tees_performance_df = tees_performance_df_raw.copy()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (1,3,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
uwe_performance_df.head(5)

,Date,Advertiser ID,Advertiser,Campaign ID,Campaign,Site ID (DCM),Site (DCM),Creative ID,Creative,Creative Type,Placement Pixel Size,Platform Type,City,Country,Impressions,Clicks,Click Rate,Active View: Viewable Impressions,Active View: Measurable Impressions,Active View: Eligible Impressions
0,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Aberdeen,United Kingdom,0,1,0.0,0,0,0
1,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Aberystwyth,United Kingdom,0,1,0.0,0,0,0
2,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Aylesbury,United Kingdom,0,2,0.0,0,0,0
3,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Bangalore,India,0,1,0.0,0,0,0
4,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Birmingham,United Kingdom,0,4,0.0,0,0,0

In [4]:
tees_performance_df.head(5)

,Date,Advertiser ID,Advertiser,Campaign ID,Campaign,Site ID (DCM),Site (DCM),Creative ID,Creative,Creative Type,Placement Pixel Size,Platform Type,City,Country,Impressions,Clicks,Click Rate,Active View: Viewable Impressions,Active View: Measurable Impressions,Active View: Eligible Impressions
0,2018-01-01,5655503,Teesside University,10037325,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Burnley,United Kingdom,0,1,0.0,0,0,0
1,2018-01-01,5655503,Teesside University,10037325,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Darlington,United Kingdom,0,1,0.0,0,0,0
2,2018-01-01,5655503,Teesside University,10037325,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Glasgow,United Kingdom,0,2,0.0,0,0,0
3,2018-01-01,5655503,Teesside University,10037325,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Hartlepool,United Kingdom,0,1,0.0,0,0,0
4,2018-01-01,5655503,Teesside University,10037325,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Hove,United Kingdom,0,1,0.0,0,0,0

In [5]:
np.all(uwe_performance_df.columns==tees_performance_df.columns)

True

In [6]:
performance_df=uwe_performance_df.append(tees_performance_df,ignore_index=True)

In [7]:
performance_df.head()

,Date,Advertiser ID,Advertiser,Campaign ID,Campaign,Site ID (DCM),Site (DCM),Creative ID,Creative,Creative Type,Placement Pixel Size,Platform Type,City,Country,Impressions,Clicks,Click Rate,Active View: Viewable Impressions,Active View: Measurable Impressions,Active View: Eligible Impressions
0,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Aberdeen,United Kingdom,0,1,0.0,0,0,0
1,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Aberystwyth,United Kingdom,0,1,0.0,0,0,0
2,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Aylesbury,United Kingdom,0,2,0.0,0,0,0
3,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Bangalore,India,0,1,0.0,0,0,0
4,2018-01-01,4476036,University of the West of England (UWE),8431696,DART Search,1317835,DART Search : Google : 18208,(not set),(not set),(not set),1 x 1,Desktop,Birmingham,United Kingdom,0,4,0.0,0,0,0

In [8]:
assert(len(performance_df)==len(uwe_performance_df)+len(tees_performance_df))

In [9]:
performance_df.shape

(19245621, 20)

In [10]:
performance_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19245621 entries, 0 to 19245620
Data columns (total 20 columns):
Date                                   object
Advertiser ID                          object
Advertiser                             object
Campaign ID                            object
Campaign                               object
Site ID (DCM)                          object
Site (DCM)                             object
Creative ID                            object
Creative                               object
Creative Type                          object
Placement Pixel Size                   object
Platform Type                          object
City                                   object
Country                                object
Impressions                            int64
Clicks                                 int64
Click Rate                             float64
Active View: Viewable Impressions      int64
Active View: Measurable Impressions    int64
Active View: Eligible Impressions      int64
dtypes: float64(1), int64(5), object(14)
memory usage: 2.9+ GB

Check if Advertiser ID, Campaign ID, Site ID and Creative ID are all strings or a mix of integers and strings.

In [11]:
performance_df.isnull().sum()

Date                                   0
Advertiser ID                          0
Advertiser                             0
Campaign ID                            0
Campaign                               0
Site ID (DCM)                          0
Site (DCM)                             0
Creative ID                            0
Creative                               0
Creative Type                          0
Placement Pixel Size                   0
Platform Type                          0
City                                   0
Country                                0
Impressions                            0
Clicks                                 0
Click Rate                             0
Active View: Viewable Impressions      0
Active View: Measurable Impressions    0
Active View: Eligible Impressions      0
dtype: int64

No column has null values. Should check if columns with conflicting values use special characters for null values.

In [12]:
print(performance_df['Advertiser ID'].unique())
print(performance_df['Campaign ID'].unique())
print(performance_df['Site ID (DCM)'].unique())
print(performance_df['Creative ID'].unique())

[4476036 '4476036' '---' 5655503 '5655503']
[8431696 9997161 10379722 20214872 20373194 10377164 20611752 11068507
 20374651 10618989 11303978 10646846 10496824 10926150 10813463 20773700
 20774158 11090267 20980272 20945761 20957332 21034612 21154497 21180848
 21293746 21340413 21306694 21337517 21417947 21457332 21526238 20455841
 21700304 21822387 21886810 10813465 22078800 22095079 22315369 22318376
 22379012 22564637 22830728 '22379012' '22830728' '---' 10037325 10442344
 10625571 10792203 20169181 20169727 20301889 20394976 20443074 20444647
 20462929 20493395 20524191 20543508 20587456 20505049 20585153 20559466
 11310432 20486984 20684132 11072191 20693106 20736958 20744166 20399078
 20864199 20846800 20062866 21008140 21074269 20103915 21141026 21161942
 21188831 21178708 21266827 21338376 21331658 21342377 21335524 21378729
 21378738 20380202 21381412 10332870 21470939 21474832 21493397 21507340
 21527558 10879454 11000485 21605692 21632477 21669037 21713437 21788061
 21809282 21823233 10239046 21922152 21937089 10570572 22055265 22077371
 22086028 22226420 10292141 22265501 10771165 22358677 22380493 22422125
 22497307 22480596 22478391 22586052 22745920 22810599 22883123 22852194
 22937950 22847178 '22497307' '22586052' '22852194']
[1317835 2597711 2598110 2797117 2797454 1434033 1396136 1424552 1489701
 2944627 1316323 1454416 2631917 1503097 3102893 2022256 3108182 1543478
 1338574 4239258 2839815 3193537 1360290 2023464 3529368 4656838 2022257
 3536454 3579312 4095267 1656983 4773013 1369981 4862412 4919877 4858000
 1343320 2312925 1606812 2358308 '1424552' '1434033' '1454416' '1489701'
 '2631917' '2944627' '4239258' '1396136' '---' 1396770 2433542 2866133
 2989716 2094451 2461020 4346565 1654518 1448680 3376238 2810013 2809863
 4032763 1802791 4630579 1460025 1364377 4889641 5010272 3108054 2781867
 1375135 1438811 '1396770' '4889641']
['(not set)' '94656580' '94656829' ... '117953297' '117989112' '118308784']

In [13]:
np.all(performance_df['Creative ID'].apply(type) == str)

True

Creative ID is only strings, but there are values '(not set)', which means that not all creatives have an assigned ID. Elements in Advertiser ID, Campaign ID and Site ID should be transformed to strings. Also, there is a row that has the '---' value. Should explore that.

In [14]:
performance_df['Advertiser ID']=performance_df['Advertiser ID'].astype(str)
performance_df['Campaign ID']=performance_df['Campaign ID'].astype(str)
performance_df['Site ID (DCM)']=performance_df['Site ID (DCM)'].astype(str)

In [15]:
dashes=performance_df[performance_df['Campaign ID']=='---']
dashes

,Date,Advertiser ID,Advertiser,Campaign ID,Campaign,Site ID (DCM),Site (DCM),Creative ID,Creative,Creative Type,Placement Pixel Size,Platform Type,City,Country,Impressions,Clicks,Click Rate,Active View: Viewable Impressions,Active View: Measurable Impressions,Active View: Eligible Impressions
6624569,Grand Total:,---,---,---,---,---,---,---,---,---,---,---,---,---,73493947,6777990,9.22,36580764,54629509,58945637
19245620,Grand Total:,---,---,---,---,---,---,---,---,---,---,---,---,---,176042204,1049077,0.60,66672840,125947728,135882025

The last row is the sum per numerical column. We remove it because is not an independent measurement

In [16]:
performance_df=performance_df.drop(dashes.index,axis=0)

In [17]:
performance_df[performance_df['Campaign ID']=='---']

Empty DataFrame
Columns: [Date, Advertiser ID, Advertiser, Campaign ID, Campaign, Site ID (DCM), Site (DCM), Creative ID, Creative, Creative Type, Placement Pixel Size, Platform Type, City, Country, Impressions, Clicks, Click Rate, Active View: Viewable Impressions, Active View: Measurable Impressions, Active View: Eligible Impressions]
Index: []

In [18]:
print(performance_df['Advertiser'].value_counts(),
      performance_df['Campaign'].value_counts(),
      performance_df['Site (DCM)'].value_counts(),
      performance_df['Creative'].value_counts(),
      performance_df['Creative Type'].value_counts(),
      performance_df['Platform Type'].value_counts(),
      performance_df['Placement Pixel Size'].value_counts(),
      sep='\n\n')

Teesside University                        12621050
University of the West of England (UWE)     6624569
Name: Advertiser, dtype: int64

UG 2019 Student Intake (036350)                          2869170
UG Feb 18 - Jul 18 (034954)                              1638184
UG Sept - Jan (037595)                                    969379
UG Feb to July 2019 (038634)                              951826
PG Oct - Jan (034954)                                     933812
Degree Apprenticeships  (034962)                          815179
PG Feb - July (038819)                                    780916
Clearing 2018 (034954)                                    749222
TUBS Campaign (036286)                                    736666
School Of Health 2018/19 (038410)                         619053
PG 2019 (038397)                                          602934
UG 2020 (038484)                                          586295
Natural Search                                            535338
General International (036726)                            524053
School Of Health (035148 / 036263 [REM Nov-Jul 2018])     478216
HDA 2019 (038673)                                         458885
Profile Raising & Open Event (035126)                     392733
PG Feb - July  (034954)                                   312957
PG August - September (034954)                            297421
PG Feb - July Top Up (039177)                             290230
UCAS Extra 2019 (038840)                                  283083
PG Nov - Jan (036156)                                     271204
TUBS Clearing  (034951)                                   262133
Clearing 2018 (036580)                                    256901
UG - Faculties - 2018 (038231)                            256130
TUBS 2018/19 (034951)                                     230890
Profile Raising & Open Events 2017/18 (035742)            220469
UG 18 campaign (035761)                                   217773
School of Science and Engineering (038635)                164265
SSE - PAD 18 (034958)                                     148406
                                                          ...
MEng Civil and Environmental Engineering (035126)             10
UG Sept - Jan Planning (035761)                                7
UG 2017 Additional School Campaign (034444)                    7
SSSHL PG Additional (034961)                                   7
DCA (034124)                                                   7
Tee School of Engineering - Event Promotion (033036)           7
UWE UG2017 FET Campaign (032949)                               4
MA Creative Writing (034961)                                   4
Teesside University  - CPD Campaign (036095)                   4
UG Early Awareness (039262)                                    3
MA Virtual Reality (038342)                                    3
HDA Phase 2 (034216)                                           3
Easrly Awareness Campaign (034782)                             3
Teesside International - India Tour (033466)                   3
UWE International - Nigeria (033422)                           3
UG to PG (033860)                                              2
UCAS July PAD (039687)                                         2
TUBS Course Promotion (033718)                                 1
Creative Degree Show 2017 (034328)                             1
UWE UG2017 - UCAS Extra (033879)                               1
UWE PG2017 MSc Urban and Rural Planning (033135)               1
Undergraduate: Feb-July (033639)                               1
UWE UG2017 HAS Campaign (032996)                               1
Teesside Health & Social Care Campaign (47016)                 1
Teesside Gazette - 2020 Vision Renewal  (034009)               1
SSSHL UG Additional  (034961)                                  1
HDA Campaign (038091)                                          1
UWE International 2017  (033347)                               1
Teesside Health & Soâ€‹cial Care Campaign (032079)               1
UWE International - Thailand (033421)                          1
Name: Campaign, Length: 126, dtype: int64

SMRS                                6646151
Google Display Network              2378195
Programmatic                        1867073
Prospects                           1647650
UCAS                                1584257
Facebook                            1163074
The Student Room                     936503
What Uni                             516841
Natural Search : Google : 18208      455459
Hotcourses                           421553
Remarketing                          250536
YouTube UK                           219746
The Complete University Guide        190000
instagram.com                        186430
Instagram                            133663
DART Search : Google : 18208         102235
GDN                                   82906
All 4                                 72178
THE Online                            63701
Natural Search : MSN : 18208          55486
Spotify                               46427
fonemedia.co.uk                       39264
Postgraduate Search                   38391
Study Portals                         27348
thecompleteuniversityguide.co.uk      20540
Natural Search : Yahoo! : 18208       19488
Snapchat                              18304
Student Crowd                         11520
DAX                                   10394
Creative Review                        6958
                                     ...
crackmagazine.net                      4661
South West Business UK                 4185
Master Studies                         1889
LinkedIn                               1751
The Guardian                           1304
The Engineer                            851
Open Days                               616
gazettelive.co.uk                       603
Bristol 24/7                            328
socialinfluencers.net                   210
Business Matters                        196
GSP (Gmail Sponsored Promotions)        176
bamuk.com                               130
THES 2                                  115
ingenium-ids.org                        113
a-n                                      87
Educations.com                           59
Uni Taster Days                          46
Reed                                     46
The Bristol Mag                          41
What's On Bristol                        30
startups.co.uk 1                         28
Adtima                                   13
Business Post                             9
GDN remarketing                           7
Bdaily                                    2
Linked_In                                 1
Postgrad.com                              1
Education UK                              1
Tees Business                             1
Name: Site (DCM), Length: 63, dtype: int64

Tracking                                                      832634
(not set)                                                     702185
Tracking Ad                                                   394123
Prospects_V3_300-x-250                                        320417
Tracking  Ad                                                  284521
Tracking 1x1                                                  269751
060418-UWE-PG-MPU-banner-GO-300x250-v2                        220386
FO-300x250                                                    215896
Tracking - 1x1                                                209815
General International - 300-x-250                             199994
141118-UG-Digital-Banners-Post-November-Open-Day-300x250-B    195814
V2_300-x-250                                                  193729
V4_300-x-250                                                  193472
V1_300-x-250                                                  193471
BB-300x250                                                    188576
V3_300-x-250                                                  173385
300x250_open day1                                             128614
Tracking_1x1                                                  125345
Open-Day 300x250                                              124626
080219-UCAS-Extra-Digital-Banners-Prospecting-v2-300x250      116416
Next-Chapter 300x250                                          115691
141118-UG-Digital-Banners-Post-November-Open-Day-300x250-A    114983
UCAS_See_GroupAB_300x250                                      112902
TU-DIGAD-347-300x250-Katie                                    103268
Open-Day 728x90                                               101327
General International - 728-x-90                               98154
Next-Chapter 728x90                                            94662
OD-300x250                                                     85846
FO-320x50                                                      85550
TU-DIGAD-347-300x250-ROB                                       85430
                                                               ...
OD-300x250 new                                                     1
TU-DIGAD-358-300x250                                               1
WhatUni 728x90_Design                                              1
10349-VERSION-2-TUBS-640x640                                       1
REMAREKTING A 468 x 60                                             1
340618-Executive-Education-GIFs-336x280-25-June-PURPLE             1
TU-DIGAD-357-300x600-english_CUG_New                               1
180418b-UG-Digital-Banner-Influencers-v2_300x250px                 1
TSR-2-320x50                                                       1
WhatUni 160x600_Design                                             1
remarketing-2-180x150                                              1
remarketing-2-160x600                                              1
160x600                                                            1
Clicks to Website - Twitter                                        1
Prospects_300x250_dieteticsREM                                     1
programmatic-2-468x60                                              1
programmatic-2-180x150                                             1
TU Resized-300x50                                                  1
11559e_UG_Decisions_PostOpenDay_Banners_4_I_11/20                  1
WhatUni 160x600_Engineering                                        1
remarketing-2-120x600                                              1
180418b-UG-Digital-Banner-Influencers-v2_728x90px                  1
140618-UG-Digital-Banners-Post-June-Open-Day_320x50px              1
TSR-2-728x90                                                       1
REMARKETING B READY 468-x-60                                       1
TU-DIGAD-324-UG-subject-728x90-computer1                           1
TU-DIGAD-324-UG-subject-320x50-computer1                           1
10546-HDA-600x90                                                   1
300x250                                                            1
TSR-2-300x600                                                      1
Name: Creative, Length: 1559, dtype: int64

Display      16334905
Tracking      2208529
(not set)      702185
Name: Creative Type, dtype: int64

Desktop                           8907676
Mobile highend: smartphone        6796177
Tablet                            3135568
Mobile midrange: feature phone     249411
Connected TV                       156787
Name: Platform Type, dtype: int64

300 x 250    6740944
1 x 1        2970219
728 x 90     2595863
160 x 600    1908464
300 x 600    1501446
320 x 50     1255364
468 x 60      504532
120 x 600     475636
970 x 250     302035
336 x 280     233290
970 x 90      199927
300 x 50      127513
180 x 150     124078
320 x 100     100656
250 x 250      93159
250 x 100      52402
200 x 200      51054
650 x 100       4565
0 x 0           3616
640 x 640        756
320 x 250         21
300 x 251         17
338 x 280         15
300 x 254          9
300 x 258          6
300 x 253          5
120 x 90           3
300 x 252          3
580 x 400          3
100 x 100          3
300 x 380          2
160 x 601          2
245 x 210          2
992 x 115          2
300 x 100          2
600 x 250          2
990 x 100          1
970 x 150          1
600 x 90           1
Name: Placement Pixel Size, dtype: int64

## Check for weird values on numerical columns

In [19]:
np.all(performance_df['Impressions']>=0)

False

In [20]:
np.sum(performance_df['Impressions']<0)

2

2 negative values in Impressions

In [21]:
np.all(performance_df['Clicks']>=0)

False

In [22]:
np.sum(performance_df['Clicks']<0)

83

83 negative values for Clicks

In [23]:
np.all(performance_df['Click Rate']>=0)

False

In [24]:
np.sum(performance_df['Click Rate']<0)

2

2 negative values for Click Rate

In [25]:
np.all(performance_df['Active View: Viewable Impressions']>=0)

True

In [26]:
np.all(performance_df['Active View: Measurable Impressions']>=0)

False

In [27]:
np.sum(performance_df['Active View: Measurable Impressions']<0)

614

614 negative values for Active View: Measurable Impressions

In [28]:
np.all(performance_df['Active View: Eligible Impressions']>=0)

True

So Impressions, Clicks Click Rate and Active View: Measurable Impressions all need further work as there are negative values

## Fix the negative values

John Burke from SMRS says that these values in Impressions, Clicks, Click Rate and Active View: Measurable Impressions should all be postives (he's checked the original database files) so we can use abs to fix these. For Click Rate we can just leave them as is as they get re-calculated later.

In [29]:
performance_df['Impressions'] = performance_df['Impressions'].abs()
performance_df['Clicks'] = performance_df['Clicks'].abs()
performance_df['Active View: Measurable Impressions'] = performance_df['Active View: Measurable Impressions'].abs()

Sanity check: the following tests should all return True

In [35]:
print("Impressions positive = ",np.all(performance_df['Impressions']>=0),
      ":: Clicks positive = ",np.all(performance_df['Clicks']>=0),
      ":: Active View Measurable Impressions positive = ",
      np.all(performance_df['Active View: Measurable Impressions']>=0))

Impressions positive =  True :: Clicks positive =  True :: Active View Measurable Impressions positive =  True

## Check for inconsistencies between ID's and names

Check that Advertiser ID and Advertiser are consistent, they are, all good

In [69]:
performance_df.groupby(['Advertiser ID'])['Advertiser'].unique()

Advertiser ID
4476036    [University of the West of England (UWE)]
5655503                        [Teesside University]
Name: Advertiser, dtype: object

Now check is Campaign ID and Campaign are consistent, they aren't

In [70]:
np.all(performance_df.groupby(['Campaign ID'])['Campaign'].nunique()>1)

False

In [71]:
np.all(performance_df.groupby(['Campaign'])['Campaign ID'].nunique()>1)

False

In [72]:
not_unique = performance_df.groupby(['Campaign'])['Campaign ID'].nunique()>1
not_unique_id = performance_df.groupby(['Campaign'])['Campaign ID'].unique()[not_unique]
not_unique_id

Campaign
DART Search    [8431696, 10037325]
Name: Campaign ID, dtype: object

From this, it looks like we have sets of overlapping IDs one for each University

In [73]:
performance_df[performance_df['Campaign ID']=='8431696']['Advertiser'].unique()

array(['University of the West of England (UWE)'], dtype=object)

In [74]:
performance_df[performance_df['Campaign ID']=='10037325']['Advertiser'].unique()

array(['Teesside University'], dtype=object)

In [75]:
not_unique = performance_df.groupby(['Campaign ID'])['Campaign'].nunique()>1
not_unique_id = performance_df.groupby(['Campaign ID'])['Campaign'].unique()[not_unique]
not_unique_id

Series([], Name: Campaign, dtype: object)

We always have one value for each Campaign within Campaign ID

Now check Site ID (DCM) and Site (DCM)

In [76]:
not_unique = performance_df.groupby(['Site ID (DCM)'])['Site (DCM)'].nunique()>1
not_unique_id = performance_df.groupby(['Site ID (DCM)'])['Site (DCM)'].unique()[not_unique]
not_unique_id

Series([], Name: Site (DCM), dtype: object)

In [77]:
not_unique = performance_df.groupby(['Site (DCM)'])['Site ID (DCM)'].nunique()>1
not_unique_id = performance_df.groupby(['Site (DCM)'])['Site ID (DCM)'].unique()[not_unique]
not_unique_id

Series([], Name: Site ID (DCM), dtype: object)

Now look at Creative ID and Creative

In [78]:
not_unique = performance_df.groupby(['Creative ID'])['Creative'].nunique()>1
not_unique_id = performance_df.groupby(['Creative ID'])['Creative'].unique()[not_unique]
not_unique_id

Series([], Name: Creative, dtype: object)

In [79]:
not_unique = performance_df.groupby(['Creative'])['Creative ID'].nunique()>1
not_unique_id = performance_df.groupby(['Creative'])['Creative ID'].unique()[not_unique]
not_unique_id

Creative
010618a-Clearing-2018-BME-Burst-2-300x600px                                                  [104676165, 104692270]
010618a-Clearing-2018-Burst-2-Programmatic-Mobile-300x250                                    [104532740, 104692942]
010618a-Clearing-2018-Burst-2-Programmatic-Mobile-320x50                                     [104692009, 104532953]
010618a-Clearing-2018-Burst-2-Programmatic-Mobile-728x90                                     [104668083, 104531009]
080219-UCAS-Extra-Digital-Banners-Prospecting-v2-320x50                                      [112424195, 116439510]
120x600_open day1                                                                            [111493359, 113386409]
141118-UG-Digital-Banners-Post-November-Open-Day-300x250-A                                   [108882080, 109676858]
141118-UG-Digital-Banners-Post-November-Open-Day-300x250-B                                   [108884165, 109624969]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-300x250-A                               [108820042, 110150810]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-300x250-B                               [108820045, 110088124]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-300x600-A                               [108825667, 110088643]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-300x600-B                               [108824095, 110088127]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-320x50-A                                [108824098, 110088898]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-320x50-B                                [108825898, 110149886]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-728x90-A                                [108820048, 110150813]
141118-UG-Digital-Banners-Post-November-Open-Day-TSR-728x90-B                                [108819766, 110150816]
160x600_lifesciences                                                                         [111493413, 113304817]
160x600_openday1                                                                  [111581903, 112420695, 113365907]
160x600_psychology                                                                           [111487492, 113301058]
160x600_sport                                                                                [111582746, 113365241]
180x150_openday1                                                                             [111581018, 113339511]
1x1 Tracking Pixel                                                [101502450, 102799866, 73396738, 94797650, 110...
220818-UG_Burst-2_Programmatic_UCAS_160x600                                       [105665245, 105723584, 106398724]
220818-UG_Burst-2_Programmatic_UCAS_300x250                                                  [105665248, 105688410]
220818-UG_Burst-2_Programmatic_What_uni1_200x200                                             [105680243, 105723257]
220818-UG_Burst-2_Programmatic_What_uni1_250x250                                             [105635037, 105688098]
220818-UG_Burst-2_Programmatic_What_uni1_300x50                                   [105680003, 105723343, 105921021]
220818-UG_Burst-2_Programmatic_What_uni1_320x50                                   [105680006, 105723602, 105970112]
220818-UG_Burst-2_Programmatic_What_uni1_468x60                                   [105665254, 105688176, 105970646]
220818-UG_Burst-2_Programmatic_What_uni1_728x90                                              [105665257, 105689280]
                                                                                        ...
V4_970-x-250                                                                                 [114051683, 113935582]
V4_970-x-90                                                                                  [114007317, 114011474]
VERSION A 160 x 600                                                                          [102568924, 102803855]
VERSION A 300 x 250                                                               [102575008, 102803858, 103162469]
VERSION A 300 x 600                                                                          [102801563, 103034703]
VERSION A 320 x 50                                                                [102571228, 103034055, 102804158]
VERSION A 970 x 90                                                                           [103162472, 102803849]
VERSION-B PART OF IT 300-x-250                                                    [102571231, 103034049, 102804143]
VERSION-B PART OF IT 300-x-600                                                               [102804128, 103164992]
VERSION-B PART OF IT 320-x-50                                                     [102554181, 103034694, 102661120]
VERSION-B PART OF IT 970-x-90                                                                [103022584, 102804140]
education A 300x600                                                               [105055723, 105111467, 107433617]
education B 300x600                                                               [105111491, 105109262, 107436695]
education B 320x50                                                                [105112376, 105022764, 107379210]
education B 728x90                                                                           [105055708, 107436212]
education B 970x250                                                                          [105113771, 107399692]
programmatic A 120x600                                                                       [105134775, 111323011]
programmatic A 160x600                                                                       [105229058, 111305529]
programmatic A 180x150                                                                       [105136110, 111323014]
programmatic A 300x250                                                                       [105134877, 111409076]
programmatic A 300x600                                                                       [105136116, 111409043]
programmatic A 468x60                                                                        [105136119, 111402311]
programmatic A 728x90                                                                        [105134781, 111323017]
programmatic B 120x600                                                                       [105137094, 111399674]
programmatic B 160x600                                                                       [105137097, 111402314]
programmatic B 180x150                                                                       [105136143, 111409049]
programmatic B 300x250                                                                       [105137220, 111311229]
programmatic B 300x600                                                                       [105137106, 111311391]
programmatic B 468x60                                                                        [105229076, 111409052]
programmatic B 728x90                                                                        [105134793, 111409055]
Name: Creative ID, Length: 181, dtype: object

## ID for merging

We need an unique ID to merge with the conversions file. We know that no ID is unique, so we have to build one.

Before grouping, we replace 0x0 by 1x1 in the Placement Pixel Size column. This is because 0x0 are treated as 1x1 by SMRS.

In [36]:
performance_df.loc[performance_df['Placement Pixel Size']=='0 x 0','Placement Pixel Size']='1 x 1'

In [37]:
group_by_ID=performance_df.groupby(['Advertiser ID',
                                    'Campaign ID',
                                    'Site ID (DCM)',
                                    'Creative ID',
                                    'Creative Type',
                                    'Placement Pixel Size',
                                    'Platform Type'])

In [38]:
group_by_ID['City'].unique()

Advertiser ID  Campaign ID  Site ID (DCM)  Creative ID  Creative Type  Placement Pixel Size  Platform Type
4476036        10377164     1434033        (not set)    (not set)      1 x 1                 Desktop                                                                 [Sao Paulo]
                                                                                             Mobile highend: smartphone                             [London, Bangalore, Unknown]
               10379722     1434033        (not set)    (not set)      1 x 1                 Mobile highend: smartphone                                                  [Lagos]
               10496824     1503097        75480110     Tracking       1 x 1                 Desktop                                                                [Manchester]
               10618989     3102893        (not set)    (not set)      1 x 1                 Desktop                                                                     [Hanoi]
               10646846     3108182        (not set)    (not set)      1 x 1                 Desktop                                                          [Unknown, Beijing]
               10813463     1503097        (not set)    (not set)      1 x 1                 Mobile highend: smartphone                                                  [Lagos]
               10813465     1503097        (not set)    (not set)      1 x 1                 Mobile highend: smartphone                                                [Bangkok]
               10926150     1543478        (not set)    (not set)      1 x 1                 Desktop                                                    [Stoke Gifford, Bristol]
               11068507     1396136        80403209     Display        160 x 600             Desktop                                                                  [Sidmouth]
                            1424552        (not set)    (not set)      1 x 1                 Desktop                                                             [Stoke Gifford]
                            1434033        (not set)    (not set)      1 x 1                 Desktop                                                                    [London]
                            1454416        (not set)    (not set)      1 x 1                 Desktop                                                          [Unknown, Beijing]
                            1489701        (not set)    (not set)      1 x 1                 Desktop                                                [Unknown, Birmingham, Lagos]
                                                                                             Mobile highend: smartphone        [Nuneaton, Unknown, Sutton, London, Coulsdon, ...
                                                                                             Tablet                                                                    [Unknown]
               11090267     1424552        (not set)    (not set)      1 x 1                 Desktop                                                             [Stoke Gifford]
               11303978     2022256        (not set)    (not set)      1 x 1                 Desktop                                                                 [Stockport]
               20214872     1396136        93656770     Display        300 x 250             Desktop                                                                   [Ashburn]
                                           93683943     Display        320 x 50              Desktop                                                                   [Ashburn]
                                           94656580     Display        180 x 150             Desktop                                                                   [Unknown]
                                           94656829     Display        300 x 50              Mobile highend: smartphone                                            [Los Angeles]
                                           94659040     Display        320 x 50              Mobile highend: smartphone                                         [London, Manaus]
                                           94738823     Display        120 x 600             Desktop                                                                    [Sydney]
                                           94738826     Display        160 x 600             Tablet                                                                     [Lenexa]
                                           95331535     Display        120 x 600             Desktop                                                                    [Aveiro]
                                           95332144     Display        468 x 60              Desktop                                                                  [Bellevue]
                                           95332147     Display        728 x 90              Desktop                                                                    [Madrid]
                                           95344497     Display        300 x 600             Desktop                                                            [Olney, Unknown]
                                           95344500     Display        300 x 250             Tablet                                                           [Swindon, Unknown]
                                                                                                                                                     ...
5655503        22745920     2866133        117844181    Tracking       1 x 1                 Desktop                                                                [Manchester]
                            4095267        117844181    Tracking       1 x 1                 Desktop                                                                [Manchester]
               22810599     1424552        117506414    Display        300 x 250             Desktop                                                           [Chennai, London]
               22847178     1396136        117950675    Display        160 x 600             Desktop                                                                    [London]
                                           117953294    Display        468 x 60              Desktop                                                                    [London]
                                           117989106    Display        300 x 250             Desktop                                                                    [London]
                                           118011643    Display        728 x 90              Desktop                                                                    [London]
                            1396770        (not set)    (not set)      1 x 1                 Desktop                                                                   [Unknown]
                                                                                             Mobile highend: smartphone                                                [Unknown]
                                           118005886    Tracking       1 x 1                 Desktop                                                                   [Unknown]
                            2809863        117953297    Display        120 x 600             Desktop                                                                    [London]
                                           117989112    Display        180 x 150             Desktop                                                                    [London]
                            4889641        (not set)    (not set)      1 x 1                 Desktop                                                                   [Unknown]
                                                                                             Mobile highend: smartphone                                                [Unknown]
                                           118005886    Tracking       1 x 1                 Desktop                                                                   [Unknown]
                                                                                             Mobile highend: smartphone                                                [Unknown]
               22852194     1396770        (not set)    (not set)      1 x 1                 Desktop                               [Chennai, Manchester, Unknown, Middlesbrough]
                                                                                             Mobile highend: smartphone                                                [Unknown]
                                           118308784    Tracking       1 x 1                 Connected TV                                                       [Unknown, Lagos]
                                                                                             Desktop                           [Abuja, Bangkok, Benin City, Bergen, Bjoerneva...
                                                                                             Mobile highend: smartphone        [Abuja, Alta, Andalsnes, Arendal, Bangkok, Ban...
                                                                                             Mobile midrange: feature phone    [Abuja, Alta, Amsterdam, Bangkok, Benin City, ...
                                                                                             Tablet                            [Abuja, Hamar, Johor Bahru, Kajang, Kelang, Ko...
                            2461020        (not set)    (not set)      1 x 1                 Desktop                                                                   [Chennai]
               22883123     1396770        117817236    Tracking       1 x 1                 Connected TV                      [Bath, Coventry, Devon, Immingham, London, Nun...
                                                                                             Desktop                           [Chennai, Manchester, Mumbai, Unknown, Aberdee...
                                                                                             Mobile highend: smartphone        [Unknown, Aberdeen, Abingdon, Ahmedabad, Alba ...
                                                                                             Mobile midrange: feature phone    [Aberdeen, Abingdon, Ajman, Aldershot, Alexand...
                                                                                             Tablet                            [Alcester, Altrincham, Ashbourne, Bedford, Bel...
               22937950     1424552        (not set)    (not set)      1 x 1                 Desktop                                                                   [Chennai]
Name: City, Length: 7908, dtype: object

We see that the Grouping IDs are not unique because they appear in different cities. Let's see by country.

In [39]:
group_by_ID['Country'].unique()

Advertiser ID  Campaign ID  Site ID (DCM)  Creative ID  Creative Type  Placement Pixel Size  Platform Type
4476036        10377164     1434033        (not set)    (not set)      1 x 1                 Desktop                                                                    [Brazil]
                                                                                             Mobile highend: smartphone                           [United Kingdom, India, Qatar]
               10379722     1434033        (not set)    (not set)      1 x 1                 Mobile highend: smartphone                                     [Nigeria, Fed. Rep.]
               10496824     1503097        75480110     Tracking       1 x 1                 Desktop                                                            [United Kingdom]
               10618989     3102893        (not set)    (not set)      1 x 1                 Desktop                                                                   [Vietnam]
               10646846     3108182        (not set)    (not set)      1 x 1                 Desktop                                     [China, Peoples Rep., Vietnam, Unknown]
               10813463     1503097        (not set)    (not set)      1 x 1                 Mobile highend: smartphone                                     [Nigeria, Fed. Rep.]
               10813465     1503097        (not set)    (not set)      1 x 1                 Mobile highend: smartphone                                               [Thailand]
               10926150     1543478        (not set)    (not set)      1 x 1                 Desktop                                                            [United Kingdom]
               11068507     1396136        80403209     Display        160 x 600             Desktop                                                            [United Kingdom]
                            1424552        (not set)    (not set)      1 x 1                 Desktop                                                            [United Kingdom]
                            1434033        (not set)    (not set)      1 x 1                 Desktop                                                            [United Kingdom]
                            1454416        (not set)    (not set)      1 x 1                 Desktop                                                       [China, Peoples Rep.]
                            1489701        (not set)    (not set)      1 x 1                 Desktop                           [Maldives, United Kingdom, Malaysia, Nigeria, ...
                                                                                             Mobile highend: smartphone                                [United Kingdom, Unknown]
                                                                                             Tablet                                                                    [Germany]
               11090267     1424552        (not set)    (not set)      1 x 1                 Desktop                                                            [United Kingdom]
               11303978     2022256        (not set)    (not set)      1 x 1                 Desktop                                                            [United Kingdom]
               20214872     1396136        93656770     Display        300 x 250             Desktop                                                             [United States]
                                           93683943     Display        320 x 50              Desktop                                                             [United States]
                                           94656580     Display        180 x 150             Desktop                                                                   [Ukraine]
                                           94656829     Display        300 x 50              Mobile highend: smartphone                                          [United States]
                                           94659040     Display        320 x 50              Mobile highend: smartphone                                 [United Kingdom, Brazil]
                                           94738823     Display        120 x 600             Desktop                                                                 [Australia]
                                           94738826     Display        160 x 600             Tablet                                                              [United States]
                                           95331535     Display        120 x 600             Desktop                                                [Portugal, Madeira & Azores]
                                           95332144     Display        468 x 60              Desktop                                                             [United States]
                                           95332147     Display        728 x 90              Desktop                                                                     [Spain]
                                           95344497     Display        300 x 600             Desktop                                                     [United States, Brazil]
                                           95344500     Display        300 x 250             Tablet                                                      [United Kingdom, Spain]
                                                                                                                                                     ...
5655503        22745920     2866133        117844181    Tracking       1 x 1                 Desktop                                                            [United Kingdom]
                            4095267        117844181    Tracking       1 x 1                 Desktop                                                            [United Kingdom]
               22810599     1424552        117506414    Display        300 x 250             Desktop                                                     [India, United Kingdom]
               22847178     1396136        117950675    Display        160 x 600             Desktop                                                            [United Kingdom]
                                           117953294    Display        468 x 60              Desktop                                                            [United Kingdom]
                                           117989106    Display        300 x 250             Desktop                                                            [United Kingdom]
                                           118011643    Display        728 x 90              Desktop                                                            [United Kingdom]
                            1396770        (not set)    (not set)      1 x 1                 Desktop                                                             [United States]
                                                                                             Mobile highend: smartphone                                 [United States, Unknown]
                                           118005886    Tracking       1 x 1                 Desktop                                                      [India, United States]
                            2809863        117953297    Display        120 x 600             Desktop                                                            [United Kingdom]
                                           117989112    Display        180 x 150             Desktop                                                            [United Kingdom]
                            4889641        (not set)    (not set)      1 x 1                 Desktop                                                             [United States]
                                                                                             Mobile highend: smartphone                                   [India, United States]
                                           118005886    Tracking       1 x 1                 Desktop                                                      [India, United States]
                                                                                             Mobile highend: smartphone                                          [United States]
               22852194     1396770        (not set)    (not set)      1 x 1                 Desktop                             [India, United Kingdom, United States, Unknown]
                                                                                             Mobile highend: smartphone                                   [India, United States]
                                           118308784    Tracking       1 x 1                 Connected TV                                                   [Nigeria, Fed. Rep.]
                                                                                             Desktop                           [Nigeria, Fed. Rep., Thailand, Norway, United ...
                                                                                             Mobile highend: smartphone        [Nigeria, Fed. Rep., Norway, Thailand, Malaysi...
                                                                                             Mobile midrange: feature phone    [Nigeria, Fed. Rep., Norway, Netherlands, Thai...
                                                                                             Tablet                            [Nigeria, Fed. Rep., Norway, Malaysia, United ...
                            2461020        (not set)    (not set)      1 x 1                 Desktop                                                                     [India]
               22883123     1396770        117817236    Tracking       1 x 1                 Connected TV                                             [United Kingdom, Slovakia]
                                                                                             Desktop                           [India, United Kingdom, United States, Spain, ...
                                                                                             Mobile highend: smartphone        [United States, United Kingdom, India, Romania...
                                                                                             Mobile midrange: feature phone    [United Kingdom, United Arab Emirates, Egypt, ...
                                                                                             Tablet                            [United Kingdom, Hungary, Isle Of Man, Poland,...
               22937950     1424552        (not set)    (not set)      1 x 1                 Desktop                                                                     [India]
Name: Country, Length: 7908, dtype: object

This ID is not unique by country. We eill have to discard the City and Country columns and consider the total amounts of Click, Click Rate, Impressions, Viewable Imp., Measurable Imp., and Eligible Imp.

In [40]:
performance_grouped_by_ID_df = group_by_ID['Clicks','Impressions','Active View: Viewable Impressions',
                                           'Active View: Measurable Impressions',
                                           'Active View: Eligible Impressions'].sum()

In [41]:
performance_grouped_by_ID_df.head()

                                                                                                                   Clicks  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                          1
                                                                                       Mobile highend: smartphone       4
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone       1
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                          1
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                          1

                                                                                                                   Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                               0
                                                                                       Mobile highend: smartphone            0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone            0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                               0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                               0

                                                                                                                   Active View: Viewable Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                     0
                                                                                       Mobile highend: smartphone                                  0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                  0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                     0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                     0

                                                                                                                   Active View: Measurable Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                       0
                                                                                       Mobile highend: smartphone                                    0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                    0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                       0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                       0

                                                                                                                   Active View: Eligible Impressions
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                     0
                                                                                       Mobile highend: smartphone                                  0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                  0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                     0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                     0

Calculate click rate and deal with np.nan and np.inf

In [42]:
performance_grouped_by_ID_df['Click Rate']=performance_grouped_by_ID_df['Clicks']/performance_grouped_by_ID_df['Impressions']*100

In [43]:
performance_grouped_by_ID_df.head()

                                                                                                                   Clicks  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                          1
                                                                                       Mobile highend: smartphone       4
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone       1
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                          1
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                          1

                                                                                                                   Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                               0
                                                                                       Mobile highend: smartphone            0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone            0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                               0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                               0

                                                                                                                   Active View: Viewable Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                     0
                                                                                       Mobile highend: smartphone                                  0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                  0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                     0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                     0

                                                                                                                   Active View: Measurable Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                       0
                                                                                       Mobile highend: smartphone                                    0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                    0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                       0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                       0

                                                                                                                   Active View: Eligible Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                     0
                                                                                       Mobile highend: smartphone                                  0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                  0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                     0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                     0

                                                                                                                   Click Rate
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                            inf
                                                                                       Mobile highend: smartphone         inf
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone         inf
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                            inf
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                            inf

In [44]:
# We replace np.inf values with np.nan for cases where impressions is 0 and clicks > 0
# We replace np.nan values with 0 for cases where impressions is 0 and clicks = 0
# THE ORDER OF THESE OPERATIONS MATTERS AND YOU HAVE TO REPLACE np.nan WITH 0 FIRST!!!

performance_grouped_by_ID_df['Click Rate'].replace(to_replace=np.nan,value=0,inplace=True)
performance_grouped_by_ID_df['Click Rate'].replace(to_replace=np.inf,value=np.nan,inplace=True)

In [45]:
# Check that the one_pix_track have a click rate of np.nan

cond1=performance_grouped_by_ID_df['Clicks']>0
cond2=performance_grouped_by_ID_df['Impressions']==0

one_pix_track_df=performance_grouped_by_ID_df[cond1 & cond2]

In [46]:
one_pix_track_df.head()

                                                                                                                   Clicks  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                          1
                                                                                       Mobile highend: smartphone       4
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone       1
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                          1
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                          1

                                                                                                                   Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                               0
                                                                                       Mobile highend: smartphone            0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone            0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                               0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                               0

                                                                                                                   Active View: Viewable Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                     0
                                                                                       Mobile highend: smartphone                                  0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                  0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                     0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                     0

                                                                                                                   Active View: Measurable Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                       0
                                                                                       Mobile highend: smartphone                                    0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                    0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                       0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                       0

                                                                                                                   Active View: Eligible Impressions  \
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                                                     0
                                                                                       Mobile highend: smartphone                                  0
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone                                  0
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                                                     0
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                                                     0

                                                                                                                   Click Rate
Advertiser ID Campaign ID Site ID (DCM) Creative ID Creative Type Placement Pixel Size Platform Type
4476036       10377164    1434033       (not set)   (not set)     1 x 1                Desktop                            NaN
                                                                                       Mobile highend: smartphone         NaN
              10379722    1434033       (not set)   (not set)     1 x 1                Mobile highend: smartphone         NaN
              10496824    1503097       75480110    Tracking      1 x 1                Desktop                            NaN
              10618989    3102893       (not set)   (not set)     1 x 1                Desktop                            NaN

In [47]:
performance_grouped_by_ID_df=performance_grouped_by_ID_df.reset_index()

In [48]:
performance_grouped_by_ID_df.head()

,Advertiser ID,Campaign ID,Site ID (DCM),Creative ID,Creative Type,Placement Pixel Size,Platform Type,Clicks,Impressions,Active View: Viewable Impressions,Active View: Measurable Impressions,Active View: Eligible Impressions,Click Rate
0,4476036,10377164,1434033,(not set),(not set),1 x 1,Desktop,1,0,0,0,0,NaN
1,4476036,10377164,1434033,(not set),(not set),1 x 1,Mobile highend: smartphone,4,0,0,0,0,NaN
2,4476036,10379722,1434033,(not set),(not set),1 x 1,Mobile highend: smartphone,1,0,0,0,0,NaN
3,4476036,10496824,1503097,75480110,Tracking,1 x 1,Desktop,1,0,0,0,0,NaN
4,4476036,10618989,3102893,(not set),(not set),1 x 1,Desktop,1,0,0,0,0,NaN

In [49]:
id_cols=['Campaign ID', 'Site ID (DCM)', 'Creative ID', 'Creative Type', 'Placement Pixel Size', 'Platform Type']
ids = performance_grouped_by_ID_df['Advertiser ID']

for c in id_cols:
    ids=ids.str.cat(performance_grouped_by_ID_df[c], sep='_')

performance_grouped_by_ID_df['ID']=ids
performance_grouped_by_ID_df.head()

,Advertiser ID,Campaign ID,Site ID (DCM),Creative ID,Creative Type,Placement Pixel Size,Platform Type,Clicks,Impressions,Active View: Viewable Impressions,Active View: Measurable Impressions,Active View: Eligible Impressions,Click Rate,ID
0,4476036,10377164,1434033,(not set),(not set),1 x 1,Desktop,1,0,0,0,0,NaN,4476036_10377164_1434033_(not set)_(not set)_1...
1,4476036,10377164,1434033,(not set),(not set),1 x 1,Mobile highend: smartphone,4,0,0,0,0,NaN,4476036_10377164_1434033_(not set)_(not set)_1...
2,4476036,10379722,1434033,(not set),(not set),1 x 1,Mobile highend: smartphone,1,0,0,0,0,NaN,4476036_10379722_1434033_(not set)_(not set)_1...
3,4476036,10496824,1503097,75480110,Tracking,1 x 1,Desktop,1,0,0,0,0,NaN,4476036_10496824_1503097_75480110_Tracking_1 x...
4,4476036,10618989,3102893,(not set),(not set),1 x 1,Desktop,1,0,0,0,0,NaN,4476036_10618989_3102893_(not set)_(not set)_1...

In [50]:
performance_grouped_by_ID_df['ID'].nunique()

7908

In [51]:
performance_grouped_by_ID_df.to_csv("Clean_data/Clean_Performance.csv", index=False)

# Testing some stuff

In [101]:
#check that all 1x1 have clicks>0 and Impressions=0
cond2=performance_grouped_by_ID_df['Impressions']==0

performance_grouped_by_ID_df.loc[cond2,'Placement Pixel Size'].value_counts()

1 x 1        672
300 x 250      6
100 x 100      1
Name: Placement Pixel Size, dtype: int64

In [102]:
np.where(uwe_performance_df_raw['Clicks']<0)

(array([  66840,  282879, 1042154, 1714568, 1714618, 1783296, 1847346,
        1952710, 2113974, 2218151, 2895509, 3872190, 5008136, 5013473,
        5049482, 5068240, 5075820, 5117597, 5153539, 5171484, 5309141,
        5365899, 5401903, 5450634, 5484629, 5517196, 5538527, 5544114,
        5544899, 5556879, 5583336, 5633927, 5641833, 5648148, 5661732,
        5730202, 5761245, 5807061, 5839780, 5855661, 6030806, 6334703,
        6348446, 6380374, 6390968, 6446692, 6459330, 6599921]),)

In [103]:
uwe_performance_df_raw.iloc[66840]

Date                                                                2018-01-09
Advertiser ID                                                          4476036
Advertiser                             University of the West of England (UWE)
Campaign ID                                                            9997161
Campaign                                                        Natural Search
Site ID (DCM)                                                          2597711
Site (DCM)                                     Natural Search : Google : 18208
Creative ID                                                          (not set)
Creative                                                             (not set)
Creative Type                                                        (not set)
Placement Pixel Size                                                     1 x 1
Platform Type                                                          Desktop
City                                                                    Bourne
Country                                                         United Kingdom
Impressions                                                                  0
Clicks                                                                      -1
Click Rate                                                                   0
Active View: Viewable Impressions                                            0
Active View: Measurable Impressions                                          0
Active View: Eligible Impressions                                            0
Name: 66840, dtype: object

In [104]:
(uwe_performance_df_raw['Clicks']<0).sum()

48

In [105]:
(tees_performance_df_raw['Clicks']<0).sum()

35

In [106]:
(uwe_performance_df_raw['Impressions']<0).sum()

0

In [107]:
(tees_performance_df_raw['Impressions']<0).sum()

2

In [108]:
(uwe_performance_df_raw['Active View: Eligible Impressions']<0).sum()

0

In [109]:
(tees_performance_df_raw['Active View: Eligible Impressions']<0).sum()

0

In [110]:
(uwe_performance_df_raw['Active View: Measurable Impressions']<0).sum()

110

In [111]:
(tees_performance_df_raw['Active View: Measurable Impressions']<0).sum()

504

In [112]:
(uwe_performance_df_raw['Active View: Viewable Impressions']<0).sum()

0

In [113]:
(tees_performance_df_raw['Active View: Viewable Impressions']<0).sum()

0

In [114]:
cond1=uwe_performance_df_raw['Clicks']>0
cond2=uwe_performance_df_raw['Impressions']==0

print(len(uwe_performance_df_raw[cond1 & cond2])/(len(uwe_performance_df_raw)))

print(uwe_performance_df_raw[cond1 & cond2]['Click Rate'].unique())
print(uwe_performance_df_raw[cond1 & cond2]['Clicks'].unique())
print(uwe_performance_df_raw[cond1 & cond2]['Active View: Measurable Impressions'].unique())

0.09547366847961453
[0.]
[   1    2    4 ... 1228 1303 1347]
[0]

In [115]:
cond1=tees_performance_df_raw['Clicks']>0
cond2=tees_performance_df_raw['Impressions']==0

print(len(tees_performance_df_raw[cond1 & cond2])/(len(tees_performance_df_raw)))

print(tees_performance_df_raw[cond1 & cond2]['Click Rate'].unique())
print(tees_performance_df_raw[cond1 & cond2]['Clicks'].unique())
print(tees_performance_df_raw[cond1 & cond2]['Active View: Eligible Impressions'].unique())

0.012217762213305373
[0.]
[   1    2   10   21   38    4   11   12   26    3   14    5    7    6
   89    9    8  234   23   15   17   20   25   19   87   46   24   27
   13   91  200   16   58   30   55   22  119  206   35  107  222   48
   78  258   18   37   53   29   64  219   32  109  205   28  103  201
   47   60  230   90  214   59  224   41   56   50   70   44   36   57
   43   66   39   74   63   40   68   52   33   51   31   54   62   73
   82   65   61   72   67   81   45  101   42  110   69   34   71   84
   75   80   49   96   83   92   86   85   99  112   95   77  111  123
  120  126   88  132  122  108  115  117   79  106  125  124   98  118
  140  133  137   97  114  145  152  134   94  104  100  127   93   76
  102  116 1151 1003  151  142  135  189  263  524 3775  426  130  296
  326  196 4800  121 1016  934  180  141  139  143  191  269  559  138
 3933  352  329  324  184 4964  295  241  424  438 1061  938  176  154
  144  274  604 4308  312  313  321  197 4960  681  627 1131 1228  129
 1046  920  218  179  175  161  249  185  344  682  174 4896  365  136
  404 6234  148  608  624 1263 1459  962  786  215  213  159  153  243
  346  652  169  378  131  431  396  158  265 6308  195  492  497 1239
 1470  530  463 1615 1928  589  565 1747 2084  595 1676 1710  655  539
 1617 1740  628  572 1898 1921  280  285  767  916  290  728  756  314
  305  936 1085  268 1010 1065  259  211  803  928  209  792  884  301
  256 1001 1117  311  282 1037 1310  287  308  874  985  347  892  908
  162  310  257  813  273  800  262  223  821  919  244 1011 1104  160
  113  146  208  190  277  188  105  199  166  181  170  171  216  157
  149  128  147  186  163  150  187  202  236  182]
[0]

In [116]:
uwe_performance_df_raw[uwe_performance_df_raw['Creative']=='(not set)']['Creative Type'].unique()

array(['(not set)'], dtype=object)

In [117]:
performance_grouped_by_ID_df['ID'].nunique()

7908